In [3]:
import pandas as pd
import numpy as np

In [4]:
food = pd.read_csv("food.csv")
food.head()

,ID,FoodGroup,Descrip,CommonName,MfgName,ScientificName,Energy_kcal,Protein_g,Fat_g,Carb_g,...,Riboflavin_mg,Thiamin_mg,Calcium_mg,Copper_mcg,Iron_mg,Magnesium_mg,Manganese_mg,Phosphorus_mg,Selenium_mcg,Zinc_mg
0,1001,Dairy and Egg Products,"Butter, salted",No name,No name,No name,717.0,0.85,81.11,0.06,...,0.034,0.005,24.0,0.000,0.02,2.0,0.000,24.0,1.0,0.09
1,1002,Dairy and Egg Products,"Butter, whipped, with salt",No name,No name,No name,717.0,0.85,81.11,0.06,...,0.034,0.005,24.0,0.016,0.16,2.0,0.004,23.0,1.0,0.05
2,1003,Dairy and Egg Products,"Butter oil, anhydrous",No name,No name,No name,876.0,0.28,99.48,0.00,...,0.005,0.001,4.0,0.001,0.00,0.0,0.000,3.0,0.0,0.01
3,1004,Dairy and Egg Products,"Cheese, blue",No name,No name,No name,353.0,21.40,28.74,2.34,...,0.382,0.029,528.0,0.040,0.31,23.0,0.009,387.0,14.5,2.66
4,1005,Dairy and Egg Products,"Cheese, brick",No name,No name,No name,371.0,23.24,29.68,2.79,...,0.351,0.014,674.0,0.024,0.43,24.0,0.012,451.0,14.5,2.60

Eliminaremos la columna llamada MfgName, ID y ScientificName ya que no afecta a nuestro análisis posterior.

In [11]:
food.drop(["MfgName", "ScientificName", "ID"], axis=1, inplace=True)

Revisaremos si vale la pena quedarse con la columna llamada CommonNames

In [12]:
elemento_masrepetido = food.CommonName.value_counts().idxmax()
repeticiones = food.CommonName.value_counts().max()
print(f"""El elemento que más se repite es "{elemento_masrepetido}"
Con una repetición de {repeticiones} veces""")

El elemento que más se repite es "No name"
Con una repetición de 7555 veces

Terminamos por eliminar también esta columna y eliminamos

In [13]:
food.drop("CommonName", axis=1, inplace=True)

In [14]:
food.columns

Index(['FoodGroup', 'Descrip', 'Energy_kcal', 'Protein_g', 'Fat_g', 'Carb_g',
       'Sugar_g', 'Fiber_g', 'VitA_mcg', 'VitB6_mg', 'VitB12_mcg', 'VitC_mg',
       'VitE_mg', 'Folate_mcg', 'Niacin_mg', 'Riboflavin_mg', 'Thiamin_mg',
       'Calcium_mg', 'Copper_mcg', 'Iron_mg', 'Magnesium_mg', 'Manganese_mg',
       'Phosphorus_mg', 'Selenium_mcg', 'Zinc_mg'],
      dtype='object')

Podemos destacar que la unidad de medida de los nutrientes(vitaminas, minerales, etc.) varia, es decir algunos datos estan en gramos, microgramos o miligramos, para todo esto se transformara todo a miliogramos ya que es la unidad que más se repite.
Para la utilización de algoritmos como regresión lineal no los ocupamos pero es posible que para clustering sea necesario además de normalizar cada uno de los datos.

Ahora se cambiara el nombre de las columnas para que hagan referenia a la unidad mg

In [15]:
new_columnas = []
columnas = food.columns

for col in columnas:
    if col.find("_g") != -1:
        n_c = col.replace("_g", "_mg")
        food[col] = food[col].apply(lambda x: x*1000)
        new_columnas.append(n_c)
    elif col.find("_mcg") != -1:
        n_c = col.replace("_mcg", "_mg")
        food[col] = food[col].apply(lambda x: x/1000)
        new_columnas.append(n_c)
    else:
        new_columnas.append(col)
        
food.columns = new_columnas

Por ultimo guardamos nuestro dataset

In [16]:
food.to_csv("food_ML.csv", index=False)

In [7]:
food.FoodGroup.value_counts()

Beef Products                          946
Vegetables and Vegetable Products      828
Baked Products                         797
Soups, Sauces, and Gravies             452
Lamb, Veal, and Game Products          438
Poultry Products                       390
Legumes and Legume Products            389
Fast Foods                             371
Breakfast Cereals                      363
Baby Foods                             362
Sweets                                 347
Fruits and Fruit Juices                346
Pork Products                          343
Beverages                              315
Finfish and Shellfish Products         267
Dairy and Egg Products                 264
Sausages and Luncheon Meats            244
Fats and Oils                          219
Cereal Grains and Pasta                183
Snacks                                 171
American Indian/Alaska Native Foods    165
Nut and Seed Products                  133
Meals, Entrees, and Side Dishes        113
Restaurant Foods                       108
Spices and Herbs                        64
Name: FoodGroup, dtype: int64